# ========================
#   IGNORAR SECRETOS (GLOBAL)
# ========================
**/.env
**/.env.local
**/.env.*

# ========================
#   JAVA / MAVEN
# ========================
**/target/
**/HELP.md
**/.mvn/wrapper/maven-wrapper.jar

# Archivos de Eclipse / STS 
**/.classpath
**/.project
**/.settings
**/.factorypath
**/.springBeans
**/.sts4-cache


# ========================
#   NODE.JS / JAVASCRIPT
# ========================
**/node_modules/
**/npm-debug.log
**/yarn-error.log
**/dist/

# ========================
#   IDEs y SISTEMA
# ========================
# IntelliJ IDEA
**/.idea/
**/*.iws
**/*.iml
**/*.ipr

# VS Code
**/.vscode/

# Mac / Windows
**/.DS_Store
**/Thumbs.db