body {
    background-color: #f8f9fa;
    font-family: Gabarito, Tahoma, sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    transition: transform .3s ease-in-out;
    width: 250px;
}

@media (max-width: 767.98px) {
    .sidebar {
        transform: translateX(-100%);
    }
    .sidebar.active {
        transform: translateX(0);
    }
    .sidebar-overlay.active {
        display: block;
    }
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    display: none;
    cursor: pointer;
}

.main-content {
    transition: margin-left .3s ease-in-out;
}

@media (min-width: 768px) {
    .main-content {
        margin-left: 250px;
    }
}

.card {
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: none;
}

.toast-container {
    z-index: 1080;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

#sidebar .nav-pills .nav-link.active {
    background-color: #fff !important;
    color: #000 !important;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#sidebar .nav-pills .nav-link:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
    transform: translateX(5px);
}

#sidebar .nav-pills .nav-link {
    transition: all 0.3s ease;
}